extends ../../components/page/page.pug
include ../../components/head/head.pug
include ../../components/heading/heading.pug
include ../../components/img/img.pug
include ../../components/list/list.pug
include ../../components/main/main.pug

block content
  -
    const {NAME} = require('../../config/constants.js')
    const content = require('./about.json')
    const imageSrc = require('./images/digital-ceo-award-grayscale.jpg')

block head
  +head({metadata: content.metadata})

block main
  +main
    +heading({level: "h1"})= content.pageTitle
    - const introSentence = content.introSentence.replace("{name}", NAME)
    p.about__intro-sentence= introSentence
    .about__image-bio-container
      .about__image-container
        -
          const unitalicizeText = (text) => `<span class="img__caption--unitalicize">${text}</span>`
          const caption = content.image.caption.replace('_award_', unitalicizeText(content.image.award))
        //- image resized down to 800x800 due to max-width of 40rem
        +img({alt: content.image.alt, src: imageSrc, caption})
      .about__bio-container
        -
          const currentYear = new Date().getFullYear()
          const {webDevFirstYear} = content.shortBio
          let webDevTotalYears
          switch (currentYear - webDevFirstYear) {
            case 6: webDevTotalYears = 'six'; break;
            case 7: webDevTotalYears = 'seven'; break;
            case 8: webDevTotalYears = 'eight'; break;
            case 9: webDevTotalYears = 'nine'; break;
            default: webDevTotalYears = currentYear - webDevFirstYear; break;
          }
          const shortBioSentence = content.shortBio.sentence
            .replace('{webDevFirstYear}', webDevFirstYear)
            .replace('{webDevTotalYears}', webDevTotalYears)
        p= shortBioSentence
    p.about__skills-and-tech-intro-sentence= content.skillsAndTech.introSentence
    .about__skills-and-tech-list-container
      +list({type: 'ul', items: content.skillsAndTech.items})
    p.about__name-pronunciation= content.namePronunciation
