mixin head(pageName)
  - const isHomepage = pageName === 'home'
  - require('../../favicons/favicon-yellow-180x180.png')
  link(
    href="/favicons/favicon-yellow-180x180.png"
    rel="icon"
    sizes="180x180"
    type="image/png"
  )
  link(
    href=(isHomepage ? './styles.css' : '../styles.css')
    rel="stylesheet"
  )
  meta(charset="utf-8")
  meta(content="width=device-width, initial-scale=1.0", name="viewport")
  //- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script/#Attributes
  //- https://flaviocopes.com/javascript-async-defer/
  script(
    defer
    src=`./${pageName}.js`
  )
  title=(isHomepage ? 'dustinruetz.com' : `${pageName} | dustinruetz.com`)
