mixin head(page)
  link(
    href="https://unpkg.com/mvp.css"
    rel="stylesheet"
  )
  meta(charset="utf-8")
  meta(content="width=device-width, initial-scale=1.0", name="viewport")
  //- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script/#Attributes
  //- https://flaviocopes.com/javascript-async-defer/
  script(
    defer
    src= page==='home' ? `./${page}.js` : `../${page}.js`
  )
  title=page==='home' ? 'dustinruetz.com' : `${page} | dustinruetz.com`
