- const {routes} = require('../../routes/routes.js')

nav.nav
  ul.nav__links
    each route in routes
      li.nav__link-container(class=`nav__link-container--${route.label}`)
        a.nav__link(href=route.href)
          -
            const routeIcon = {
              module: require(`./icons/${route.icon}`),
              svgCode: function() {
                return this.module.replace('svg', 'svg class="nav__link-icon"')
              }
            }
          figure
            //- buffer unescaped SVG code directly into the Pug template
            | !{routeIcon.svgCode()}
            figcaption= route.label
